Repository tomkerkhove/promitor, changes with the owners that CODEOWNERS names for each.
All owners: @tomkerkhove, @brusmx, @jsturtevant, @brandonh-msft

Metric deserialization refactor (#439)
  adding-a-new-scraper.md
  src/Promitor.Core.Scraping/Configuration/Model/Metrics/MetricDefinition.cs
  src/Promitor.Core.Scraping/Configuration/Model/Metrics/ResourceTypes/GenericAzureMetricDefinition.cs
  src/Promitor.Core.Scraping/Configuration/Model/Metrics/ResourceTypes/ServiceBusQueueMetricDefinition.cs
  src/Promitor.Core.Scraping/Configuration/Model/Metrics/ResourceTypes/StorageQueueMetricDefinition.cs
  src/Promitor.Core.Scraping/Configuration/Providers/MetricsDeclarationProvider.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Core/AggregationDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Core/AzureMetadataDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Core/AzureMetricConfigurationDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Core/ConfigurationSerializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Core/Deserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Core/MetricAggregationDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Core/MetricDefaultsDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Core/MetricDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Core/MetricsDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/GenericAzureMetricDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/ServiceBusQueueMetricDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/StorageQueueMetricDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/MetricsDeserializer.cs
  src/Promitor.Core.Scraping/Factories/MetricDeserializerFactory.cs
  src/Promitor.Core.Scraping/ResourceTypes/GenericScraper.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/MetricsValidator.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/ResourceTypes/GenericMetricValidator.cs
  src/Promitor.Scraper.Tests.Unit/Builders/MetricsDeclarationBuilder.cs
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/MetricsDeclarationWithAzureStorageQueueYamlSerializationTests.cs
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/MetricsDeclarationWithServiceBusQueueYamlSerializationTests.cs
Owners: @tomkerkhove

Align with new deserialization approach
  src/Promitor.Core.Scraping/Configuration/Model/Metrics/ResourceTypes/ContainerInstanceMetricDefinition.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/ContainerInstanceMetricDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/GenericAzureMetricDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/ServiceBusQueueMetricDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/StorageQueueMetricDeserializer.cs
  src/Promitor.Core.Scraping/Factories/MetricDeserializerFactory.cs
  src/Promitor.Scraper.Tests.Unit/Builders/MetricsDeclarationBuilder.cs
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/MetricsDeclarationWithAzureStorageQueueYamlSerializationTests.cs
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/MetricsDeclarationWithContainerInstanceYamlSerializationTests.cs
Owners: @tomkerkhove

Fix issue with custom Prometheus scrape path
  src/Promitor.Core.Scraping/ScrapeEndpoint.cs
Owners: @tomkerkhove

Provide guidance how to run the docs locally
  docs/README.md
Owners: @brusmx

added readiness probe
  charts/promitor/templates/deployment.yaml
Owners: @tomkerkhove

Run dotnet restore before code quality
  .azure-devops/scraper-ci.yml
Owners: @tomkerkhove

Fix issue with custom Prometheus scrape path (#448)
  src/Promitor.Core.Scraping/ScrapeEndpoint.cs
Owners: @tomkerkhove

Remove spaces
  .azure-devops/scraper-ci.yml
Owners: @tomkerkhove

Add scrape path env var
  charts/promitor/templates/deployment.yaml
  charts/promitor/values.yaml
Owners: @tomkerkhove

Seperate code quality from building solution in CI (#443)
  .azure-devops/scraper-ci.yml
Owners: @tomkerkhove

added liveness/readiness probe to kubernetes-spec
  deploy/kubernetes-spec.yaml
Owners: @brusmx, @jsturtevant

Refactoring metric validator code to be more componentized for future validation adds
  src/Promitor.Scraper.Host/Docs/Open-Api.xml
  src/Promitor.Scraper.Host/Validation/Factories/MetricValidatorFactory.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/Interfaces/IMetricValidator.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/MetricValidator.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/MetricsValidator.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/ResourceTypes/GenericAzureMetricValidator.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/ResourceTypes/ServiceBusQueueMetricValidator.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/ResourceTypes/StorageQueueMetricValidator.cs
  src/Promitor.Scraper.Host/Validation/Steps/MetricsDeclarationValidationStep.cs
Owners: @tomkerkhove

Updating 'adding-a-new-scraper' docs for Validator creation
  adding-a-new-scraper.md
Owners: @tomkerkhove

Align with new deserialization
  src/Promitor.Core.Scraping/Configuration/Model/Metrics/ResourceTypes/ContainerRegistryMetricDefinition.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/ContainerRegistryMetricDeserializer.cs
  src/Promitor.Core.Scraping/Factories/MetricDeserializerFactory.cs
Owners: @tomkerkhove

New YAML Validation code structure (#449)
  adding-a-new-scraper.md
  src/Promitor.Scraper.Host/Docs/Open-Api.xml
  src/Promitor.Scraper.Host/Validation/Factories/MetricValidatorFactory.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/Interfaces/IMetricValidator.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/MetricValidator.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/MetricsValidator.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/ResourceTypes/GenericAzureMetricValidator.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/ResourceTypes/ServiceBusQueueMetricValidator.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/ResourceTypes/StorageQueueMetricValidator.cs
  src/Promitor.Scraper.Host/Validation/Steps/MetricsDeclarationValidationStep.cs
Owners: @tomkerkhove

updated docs
  docs/deployment/index.md
Owners: @tomkerkhove

removed kubernetes-spec
  deploy/kubernetes-spec.yaml
Owners: @brusmx, @jsturtevant

Update values to align with metrics declaration
  charts/local-values.yaml.example
  charts/promitor/templates/configmap.yaml
  charts/promitor/templates/deployment.yaml
  charts/promitor/values.yaml
Owners: @brusmx, @jsturtevant, @tomkerkhove

Provide support for scraping Azure Container Instances (#441)
  docs/configuration/metrics/container-instances.md
  docs/configuration/metrics/index.md
  src/Promitor.Core.Scraping/Configuration/Model/Metrics/ResourceTypes/ContainerInstanceMetricDefinition.cs
  src/Promitor.Core.Scraping/Configuration/Model/ResourceType.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/ContainerInstanceMetricDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/GenericAzureMetricDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/ServiceBusQueueMetricDeserializer.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/StorageQueueMetricDeserializer.cs
  src/Promitor.Core.Scraping/Factories/MetricDeserializerFactory.cs
  src/Promitor.Core.Scraping/Factories/MetricScraperFactory.cs
  src/Promitor.Core.Scraping/ResourceTypes/ContainerInstanceScraper.cs
  src/Promitor.Scraper.Host/Validation/Factories/MetricValidatorFactory.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/ResourceTypes/ContainerInstanceMetricValidator.cs
  src/Promitor.Scraper.Tests.Unit/Builders/MetricsDeclarationBuilder.cs
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/MetricsDeclarationWithAzureStorageQueueYamlSerializationTests.cs
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/MetricsDeclarationWithContainerInstanceYamlSerializationTests.cs
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/YamlSerializationTests.cs
  src/Promitor.Scraper.Tests.Unit/Validation/Metrics/ResourceTypes/ContainerInstanceMetricsDeclarationValidationStepTests.cs
  src/docker-compose.override.yml
Owners: @tomkerkhove, @brandonh-msft, @jsturtevant

Update local values
  charts/local-values.yaml.example
  charts/promitor/values.yaml
Owners: @brusmx, @jsturtevant, @tomkerkhove

Creating some of the files necessary for virtual machine scraper
  src/Promitor.Core.Scraping/Configuration/Model/Metrics/ResourceTypes/VirtualMachineMetricDefinition.cs
  src/Promitor.Core.Scraping/Configuration/Model/ResourceType.cs
  src/Promitor.Core.Scraping/Factories/MetricScraperFactory.cs
  src/Promitor.Core.Scraping/ResourceTypes/VirtualMachineScraper.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/ResourceTypes/VirtualMachineMetricValidator.cs
Owners: @tomkerkhove

Adding tests
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/MetricsDeclarationWithVirtualMachineYamlSerializationTests.cs
  src/Promitor.Scraper.Tests.Unit/Validation/Metrics/ResourceTypes/VirtualMachineMetricsDeclarationValidationStepsTests.cs
Owners: @tomkerkhove

Add virtual machine scraper, no tests yet
  docs/configuration/metrics/index.md
  docs/configuration/metrics/virtual-machine.md
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/VirtualMachineMetricDeserializer.cs
  src/Promitor.Core.Scraping/Factories/MetricDeserializerFactory.cs
  src/Promitor.Core.Scraping/ResourceTypes/VirtualMachineScraper.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/MetricsValidator.cs
  src/Promitor.Scraper.Tests.Unit/Builders/MetricsDeclarationBuilder.cs
Owners: @tomkerkhove

Refactoring tests and deserialization code
  docs/configuration/metrics/virtual-machine.md
  src/Promitor.Core.Scraping/Configuration/Model/Metrics/ResourceTypes/VirtualMachineMetricDefinition.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/VirtualMachineMetricDeserializer.cs
  src/Promitor.Core.Scraping/Factories/MetricDeserializerFactory.cs
  src/Promitor.Scraper.Tests.Unit/Builders/MetricsDeclarationBuilder.cs
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/MetricsDeclarationWithVirtualMachineYamlSerializationTests.cs
  src/Promitor.Scraper.Tests.Unit/Validation/Metrics/ResourceTypes/VirtualMachineMetricsDeclarationValidationStepsTests.cs
Owners: @tomkerkhove

Add validation & unit tests
  src/Promitor.Scraper.Host/Validation/Factories/MetricValidatorFactory.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/ResourceTypes/ContainerRegistryMetricValidator.cs
  src/Promitor.Scraper.Tests.Unit/Builders/MetricsDeclarationBuilder.cs
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/MetricsDeclarationWithContainerRegistryYamlSerializationTests.cs
  src/Promitor.Scraper.Tests.Unit/Validation/Metrics/ResourceTypes/ContainerRegistryMetricsDeclarationValidationStepTests.cs
Owners: @tomkerkhove

Add scraper for container registry
  src/Promitor.Core.Scraping/Factories/MetricScraperFactory.cs
  src/Promitor.Core.Scraping/ResourceTypes/ContainerRegistryScraper.cs
Owners: @tomkerkhove

Add VirtualMachine to MetricValidatorFactory
  src/Promitor.Scraper.Host/Validation/Factories/MetricValidatorFactory.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/MetricsValidator.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/ResourceTypes/VirtualMachineMetricValidator.cs
Owners: @tomkerkhove

Virtual machine metrics (#454)
  docs/configuration/metrics/index.md
  docs/configuration/metrics/virtual-machine.md
  src/Promitor.Core.Scraping/Configuration/Model/Metrics/ResourceTypes/VirtualMachineMetricDefinition.cs
  src/Promitor.Core.Scraping/Configuration/Model/ResourceType.cs
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/VirtualMachineMetricDeserializer.cs
  src/Promitor.Core.Scraping/Factories/MetricDeserializerFactory.cs
  src/Promitor.Core.Scraping/Factories/MetricScraperFactory.cs
  src/Promitor.Core.Scraping/ResourceTypes/VirtualMachineScraper.cs
  src/Promitor.Scraper.Host/Validation/Factories/MetricValidatorFactory.cs
  src/Promitor.Scraper.Host/Validation/MetricDefinitions/ResourceTypes/VirtualMachineMetricValidator.cs
  src/Promitor.Scraper.Tests.Unit/Builders/MetricsDeclarationBuilder.cs
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/MetricsDeclarationWithVirtualMachineYamlSerializationTests.cs
  src/Promitor.Scraper.Tests.Unit/Validation/Metrics/ResourceTypes/VirtualMachineMetricsDeclarationValidationStepsTests.cs
Owners: @tomkerkhove

Fix spacing in local values example file
  charts/local-values.yaml.example
Owners: @brusmx, @jsturtevant

Initial support for multiple resource groups And support in testing.
  src/Promitor.Core.Scraping/Configuration/Model/Metrics/MetricDefinition.cs
  src/Promitor.Core.Scraping/ResourceTypes/GenericScraper.cs
  src/Promitor.Core.Scraping/ResourceTypes/ServiceBusQueueScraper.cs
  src/Promitor.Core.Scraping/ResourceTypes/StorageQueueScraper.cs
  src/Promitor.Core.Scraping/Scraper.cs
Owners: @tomkerkhove

Brandon saves the space
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/MetricsDeclarationWithAzureStorageQueueYamlSerializationTests.cs
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/MetricsDeclarationWithServiceBusQueueYamlSerializationTests.cs
Owners: @tomkerkhove

Moving resourcegroup to new scraper
  src/Promitor.Core.Scraping/Configuration/Serialization/Deserializers/GenericAzureMetricDeserializer.cs
  src/Promitor.Core.Scraping/ResourceTypes/GenericScraper.cs
Owners: @tomkerkhove

space merging
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/MetricsDeclarationWithAzureStorageQueueYamlSerializationTests.cs
Owners: @tomkerkhove

Merging index
  docs/configuration/metrics/index.md
Owners: @tomkerkhove

Adding clarity to explanation before multi rg sample
  docs/configuration/metrics/index.md
Owners: @tomkerkhove

Reduce overhead
  src/Promitor.Scraper.Tests.Unit/Serialization/MetricsDeclaration/MetricsDeclarationWithVirtualMachineYamlSerializationTests.cs
Owners: @tomkerkhove

updated docs
  docs/deployment/index.md
Owners: @tomkerkhove

updated docs again
  docs/deployment/index.md
Owners: @tomkerkhove

updated docs again
  docs/deployment/index.md
Owners: @tomkerkhove

updated docs again
  docs/deployment/index.md
Owners: @tomkerkhove

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @tomkerkhove

# Hackaton Codeowners
docs/*  @brusmx
deploy/*  @brusmx @jsturtevant
charts/*  @brusmx @jsturtevant
src/*   @brandonh-msft @jsturtevant
